<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <p class="h4">Change Name</p>
                    </div>
                    <div class="card-body">
                    <form>
                        <input type="text"
                        [(ngModel)]="username"
                         class="form-control"
                         name="username"
                         >
                    </form>
                </div>
                <div class="card-body">
                <div class="h4 text-primary">{{username}}</div>
            </div>
        </div>
        </div>
        </div>
    </div>
</section>